@import '../styles//common/colors.scss';
@import "../styles/common/mixin.scss";

.message-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 1rem;
  background-color: var(--message-bg);
  color: white;
  padding: 1.5rem 2rem;
  border-radius: 50px;
  .message-link {
    text-decoration: underline;
    color: white;
  }
  .close-btn {
    @include close-btn;
  }
}
