@import './Body/styles/common/colors.scss';

body {
  padding: 1rem 8rem;
  background-color: var(--bg-color);
  font-family: 'Lato', sans-serif;
  height: 100vh;
  button {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
  }
}
